<div class="container">
<h1 class="margin30bottom"> Editer mon profil</h1>
  <div class="row ">
    <div class="col-xs-6 margin30bottom">
      <%= render 'form' %>
      </div>
      <div class="col-xs-6 margin30bottom">
      <%= cl_image_tag("tongue-02.jpg", :width=>600, :crop=>"scale") %>
      </div>
      <div class="row">
      <div class="text-center">
       
      </div>
      </div>
  </div>
</div>
