.main-container {
  display: flex;
  background-color: blue;
}

.sidebar-louer-ce-cheval {
  background-color: red;
  flex: 0 0 450px;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
  
}