.btn-cheval {
   color: black;
    background-color: goldenrod;
    border-color: white;
    padding: 20px 60px;
    opacity: 0.8;
    letter-spacing: 1px;
}

.btn-cheval a {
   text-transform: uppercase;
}


.btn-cheval:hover {
    color: goldenrod;
    background-color: black;
    border-color: white;
    padding: 20px 60px;
   opacity: 1;
}


    
