.btn-cheval {
   color: #fff;
    background-color: #0000007a;
    border-color: white;
    padding: 20px 60px;
    opacity: 0.8
}

.btn-cheval a {
   text-transform: uppercase;
}


.btn-cheval:hover {
    color: #fff;
    background-color: #0000007a;
    border-color: white;
    padding: 20px 60px;
   opacity: 1;
}


    
