.cards-container{
  flex-grow: 1;

}

.card-cheval {
  position: relative;
margin-bottom: 50px;
}

.card-info {
  position: absolute;
  color: white;
}

.bottom-left {
    bottom: 10px;
    left: 20px;
}

.top-left {
    top: 10px;
    left: 20px;
}


.label {

    font-weight: 200;

}

.label h2 {
    font-size: 30px;
}

.grey-label {
    opacity: 0.7;
    font-size: 20px;
}


@media screen and (max-width: 1200px) {
.label h2 {
    font-size: 20px;
}

.grey-label {
    opacity: 0.7;
    font-size: 15px;
}
}

